<% if flash.now[:notice].present? || flash.now[:success].present?%>
  <div class="alert alert-success" role="alert">
    <p><%= flash.now[:notice] %></p>
    <% flash.discard(:notice) %>
    <p><%= flash.now[:success] %></p>
    <% flash.discard(:success) %>
  </div>
<% end %>

<div class="jumbotron text-center" style="margin-bottom: 0;">
  <br/><h1>La bienvenue à toi !</h1>
  <h5>Tu trouveras la liste des potins ci-dessous.<br/>
    <% if logged_in? %>
      Toi aussi <%= current_user.first_name %> tu peux <%= link_to "en ajouter un", new_potin_path %> si tu veux ;)
    <% else %>
      Connecte toi ou inscrit toi pour pouvoir en ajouter.
    <% end %>
  </h5>
</div>

<div class="list-group">
  <% @potins.each do |potin| %>
    <div class= "list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= link_to potin.title, potin_path(potin.id), :class => "btn btn-primary" %></h5>
        <small class="text-muted">Ajouter le <%= potin.created_at.strftime("%d %b. %Y") %></small>
      </div>
      <small>De <%= potin.user.first_name %></small>
    </div>
  <% end %>
</div>
