<br/><h1>Potin n°<%= @potin.id %> : <%= @potin.title %></h1>
  <p><br/>
    <%= "=" * 20 %><br/>
    <%= @potin.description %><br/>
    <%= "=" * 20 %><br/><br/>

    L'auteur : <%= link_to "#{@potin.user.first_name} #{@potin.user.last_name}", user_path(@potin.user.id) %><br>
    La ville de l'auteur : <%= @potin.user.origin %>
  </p>

  <%= link_to "Editer le potin", edit_potin_path(params[:id]), :class => "btn btn-primary" %>
  <%= link_to "Supprimer le potin", potin_path(params[:id]), :class => "btn btn-danger", data: {confirm: 'Are you sure?'}, :method => 'DELETE' %>

<%= form_tag ({:action => 'create', :controller => 'comments'}), method: "post" do %>

  <%= text_area_tag 'content', 'Ton commentaire' %>
  <br /> <br />

  <%= text_field_tag 'author', 'Ton prénom' %>
  <br /> <br />

  <%= submit_tag "Créer un commentaire" %>

<% end %>



<div class="alert alert-secondary text-center">
  Tous les commentaires de ce potin :
</div>

<div class="list-group">
  <% @potin.comments.each do |comment| %>
    <div class= "list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= comment.content %></h5>
        <small class="text-muted">Ajouter le <%= comment.created_at.strftime("%d %b. %Y") %></small>
      </div>
      <small>De <%= comment.user.first_name %></small>
    </div>
  <% end %>
</div>
