<br/><h1>Page de <%= @user.first_name %> <%= @user.last_name %></h1>
<p>
  Description : <%= @user.description %><br/>
  Age : <%= @user.age %><br/>
  Email : <%= @user.email %><br/>
  Originaire de <%= @user.origin %>

</p>
